<form method="POST" action="<?php echo $this->baseUrl(); ?>/index/upload" enctype="multipart/form-data" >

    <input id="file" type="file" name="file">
    <button type="submit">Enviar</button>

</form>