
<?php
$page_size = $this->itemCountPerPage;
$max_page = 3;
$min_page = 3;
$count = $this->totalItemCount;
$page = $this->current;

$pages_number = $count / $page_size;
$pages_number = ($pages_number > 1) ? ceil($pages_number) : '1';

$first_page = ($page - $min_page) < 1 ? 1 : $page - $min_page;
$last_page = ($page + $max_page) >= $pages_number ? $pages_number : $page + $max_page;

$url_part = (isset($this->filter)) ? $this->filter->getParamString() : '';
?>



<div style="text-align: center; margin: 20px 0 0 0 ;">
<?php if (count($this->pagesInRange) > 1) { ?>
    <div class="paging" style="padding: 10px;">
        <ul class="center">

            <li class="prev <?php echo (isset($this->previous)) ? '' : ' disabled ' ?>"><a class="prevbtn" <?php print (isset($this->previous)) ? 'href="?page=' . $this->previous . $url_part . '"' : ' class="disabled" '  ?>>← Anterior</a></li>

            <?php for ($index = $first_page; $index <= $last_page; $index++) : ?>
                <li class="<?php echo ($this->pagesInRange[$index] == $this->current) ? "active" : "number" ?>"><a href="?page=<?php echo $this->pagesInRange[$index] . $url_part ?>"><?php print $this->pagesInRange[$index]; ?></a></li>
            <?php endfor; ?> 

                <li class="next <?php echo (isset($this->next)) ? '' : ' disabled ' ?>"><a class="nextbtn" <?php print (isset($this->next)) ? 'href="?page=' . $this->next . $url_part . '"' : ' class="disabled" '  ?>>Pr&oacute;xima →</a></li>

        </ul>
    </div>
<?php } ?>

<div style="text-align: center; padding: 10px;">
    <h4>
        <small>
            <b><?php echo $this->totalItemCount ?></b> Registro(s) - Página <b><?php echo $this->current ?></b> de <b><?php echo count($this->pagesInRange) ?></b>
        </small>
    </h4>
</div>
</div>