@import "animate.css";
@import url(fonts/font-awesome-4.1.0/css/font-awesome.min.css);
/*========================================================
                    Main layout styles
=========================================================*/
body {
    font: 400 14px/24px "Arial", sans-serif;
    color: #2d2d2d;
    background: url(../images/background4.png) repeat #222222;
}
a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover {
    color: #0e81b4;
}
img {
    max-width: 100%;
}
* {
    -webkit-text-size-adjust: none;
}

p {margin-bottom: 10px; line-height: 1.7;}
/* ======= Headers ======= */
h2 {
    font: 900 36px/36px "Trebuchet MS", sans-serif;
    color: #373d43;
    text-transform: uppercase;
}
h3 {
    font: 400 24px/30px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #272727;
}
h4 {
    font: 400 18px/24px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #383838;
}
h5 {
    font: 400 18px/28px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #150958;
    font-weight: bold;
}
h5 a:hover {
    color: #222222;
}
h6 {
    font: 700 48px/48px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.09);
    letter-spacing: 0.1em;
}
@media (max-width: 1199px) {
    h6 {
        font: 700 30px/30px "Trebuchet MS", sans-serif;
    }
}
h6.__color1 {
    color: #191919;
}
.h7 {
    display: block;
    text-transform: uppercase;
    color: #222222;
    font: 400 48px/48px "Trebuchet MS", sans-serif;
}
@media (max-width: 767px) {
    .h7 {
        font-size: 36px;
        line-height: 36px;
    }
}
.h8 {
    display: block;
    font: 700 18px/18px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}
.h9 {
    display: block;
    font: 700 18px/24px "Trebuchet MS", sans-serif;
    color: #0e81b4;
    text-transform: uppercase;
}
.h9 a:hover {
    color: #222222;
}
.h10 {
    display: block;
    font: 700 18px/24px "Trebuchet MS", sans-serif;
    color: #383838;
    text-transform: uppercase;
    position: relative;
}
.h10:after {
    content: '';
    display: block;
    height: 3px;
    width: 61px;
    background: #404040;
    position: absolute;
    bottom: -14px;
    left: 0;
}
/* ======= Buttons ======= */
.btn-default {
    display: inline-block;
    font: 700 14px/24px "Arial", sans-serif;
    text-transform: lowercase;
    color: #373d43;
    position: relative;
}
.btn-default:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 5px;
    overflow: hidden;
    background: url(../images/arrow1.png) no-repeat center 0;
    right: -12px;
    top: 50%;
    margin-top: -2.5px;
}
.btn-big {
    font-family: "Trebuchet MS", sans-serif;
    background: #150958;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    border: 1px solid #969696;
    padding: 14px 10px 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 170px;
    cursor: pointer;
}

.btn-big:disabled {
    opacity: 0.5;
    cursor: default;
}

@media (max-width: 979px) {
    .btn-big {
        min-width: 100px;
    }
}
.btn-big:hover:enabled {
    background: #0e81b4;
    color: #ffffff;
    border-color: #0e81b4;
}
/* ======= Modifiers ======= */
.__display-none {
    display: none;
}
.__display-inline {
    display: inline;
}
.__hover-color {
    color: #0e81b4;
}
a:hover .__hover-color {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #222222;
}
.__upper {
    text-transform: uppercase;
}
.__normal {
    font-weight: 400;
}
.__relative {
    position: relative;
}
.__float-right {
    float: right !important;
}
@media (max-width: 767px) {
    .__float-right {
        float: none !important;
    }
}
/* ======= Wrappers ======= */
.wrapper1 {
    padding: 38px 0 34px;
}
.wrapper2 {
    /*background: url(images/background2.jpg) center no-repeat;*/
    /*background-size: cover;*/
    background-color: #0F063E;
    padding: 47px 0 63px;
}
.wrapper2 h2, .wrapper2 h5, .wrapper2 h5 a:hover, .wrapper2 .post2 li, .wrapper2 .btn-default  {
    color: #fff !important;
}


.wrapper2.__inset1 {
    padding-bottom: 2px;
}
.wrapper3 {
    padding: 47px 0 48px;
}
.wrapper4 {
    padding: 47px 0 35px;
}
.wrapper5 {
    padding: 0 0 83px;
}
.wrapper6 {
    padding: 0 0 59px;
}
.border-wrapper {
    border-bottom: 1px solid #d6d6d6;
}
/*========================================================
                    HEADER styles
=========================================================*/
#header {
    background-repeat: #ffffff;
}
@media (max-width: 979px) {
    #header {
        text-align: center;
    }
}
#header .info {
    padding: 17px 0 12px;
    /*background: url(../images/background0.png) repeat-x #0b0b0c;*/
    background:  #0F063E;
    font: italic 400 12px/14px "Arial", sans-serif;
    color: #ffffff;
}
@media (max-width: 979px) {
    #header .info {
        font-size: 9px;
        line-height: 9px;
    }
}
@media (max-width: 767px) {
    #header .info {
        font-size: 12px;
        line-height: 14px;
    }
}
#header .info address,
#header .info .phone,
#header .info .loggin,
#header .info .link {
    display: block;
    padding-left: 23px;
    position: relative;
}
#header .info address:before,
#header .info .phone:before,
#header .info .loggin:before,
#header .info .link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 15px;
    height: 16px;
    overflow: hidden;
    background: no-repeat left 0;
}
@media (max-width: 767px) {
    #header .info address:before,
    #header .info .phone:before,
    #header .info .link:before {
        display: none;
    }
}
#header .info address:before {
    background-image: url(../images/icon1.png);
}
#header .info .link:before {
    background-image: url(../images/icon2.png);
}

#header .info a:hover {
    color: #e2e2e2;
}

#header .info .phone:before {
    background-image: url(../images/icon3.png);
}
#header .info .socials1 {
    text-align: right;
    margin-top: -1px;
}
@media (max-width: 767px) {
    #header .info .socials1 {
        text-align: center;
        margin-top: 20px;
    }
}
#header #stuck_container {
    position: relative;
    padding: 15px 0 3px;
    border-bottom: 1px solid #0F063E;
    z-index: 400;
    /*background: url(../images/page2_img1.png) no-repeat;*/
    /*background-size: cover;*/
    background: #fff;
}
@media (max-width: 979px) {
    #header #stuck_container {
        padding-top: 0;
        padding-bottom: 5px;
        /*background: url(../images/background0.png) repeat-x #0b0b0c;*/
    }
}
#header.main-page {
    margin-bottom: 0;
}
#header.main-page #stuck_container {
    background: url(../images/background3.png) repeat;
    background: #150958;
}
@media (max-width: 979px) {
    #header.main-page #stuck_container {
        /*background: url(../images/background0.png) repeat-x #0b0b0c;*/
        background: url(../images/background3.png) repeat;
        background: #150958;
    }
}
.socials1 li {
    display: inline-block;
    margin-bottom: 10px;
}
.socials1 li + li {
    margin-left: 18px;
}
.socials1 li a i {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.socials1 li a:hover i {
    color: #fff;
    font-size: 22px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
    transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
}

/* ======= Logo ======= */
h1 {
    float: left;
    padding-left: 48px;
    position: relative;
}
@media (max-width: 979px) {
    h1 {
        float: none;
        display: inline-block;
    }
}

.header-logomarca {
    height: 140px; 
    float: left; 
    padding-left: 28px;
    position: relative;
}

@media (max-width: 979px) {
    .header-logomarca {
        height: 140px; 
        float: none; 
        padding-left: 0px;
    }
}

.logomarca {
    /*height: 120px; */
    margin-top: 20px;
}

/*h1:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/logo.png) no-repeat center 0;
    width: 44px;
    height: 34px;
    overflow: hidden;
    left: 0;
    top: 16px;
}*/
h1 .main,
h1 .secondary {
    display: inline-block;
}
h1 .main {
    font: italic 400 60px/60px "Trebuchet MS", sans-serif;
    text-transform: lowercase;
    color: #0e81b4;
}
h1 .secondary {
    font: 400 10px/12px "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -4px;
}
/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
/* ======= Second level sub menu variables ======= */
nav {
    float: right;
    margin-top: 60px;
}
@media (max-width: 979px) {
    nav {
        float: none;
        margin-top: 0;
    }
}

/* Main menu styles
========================================================*/
.sf-menu > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    text-align: center;
}
.sf-menu > li + li {
    margin-left: 40px;
}
.sf-menu > li > .sf-with-ul:after {
    font-family: FontAwesome;
    font-size: 10px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    content: "\f0d7";
    color: #ffffff;
    bottom: -10px;
    left: 50%;
    margin-left: -3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sf-menu > li > a {
    text-transform: uppercase;
    font: bold 16px/16px "Trebuchet MS", sans-serif;
    display: inline-block;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .sf-menu > li > a {
        font: bold 14px/14px "Trebuchet MS", sans-serif;
    }
    .sf-menu > li + li {
        margin-left: 30px;
    }

}

.sf-menu > li > a:hover {
    /*color: #0e81b4;*/
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.sf-menu > li > a:active {
    background: transparent;
    color: #0e81b4;
}
.sf-menu .sfHover > a:after {
    color: #0e81b4;
}
.sf-menu > li.current > a {
    /*color: #0e81b4;*/
}
.sf-menu > li.current > .sf-with-ul:after {
    color: #0e81b4;
}
.sf-menu > li.sfHover > a {
    color: #0e81b4;
}
.sf-menu a {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.sf-menu a:hover {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
    display: none;
    border-radius: 3px;
    width: 110px;
    font: 400 12px/12px Arial, sans-serif;
    position: absolute;
    top: 21px;
    left: 50%;
    margin-left: -55px;
    background: #101010;
    text-align: left;
    padding: 34px 0 35px 16px;
    z-index: 2;
}
.sf-menu ul > li + li {
    margin-top: 22px;
}
.sf-menu ul li {
    position: relative;
    display: block;
}
.sf-menu ul li > .sf-with-ul:after {
    font-family: FontAwesome;
    font-size: 10px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    content: "\f0da";
    color: #ffffff;
    bottom: -1px;
    right: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sf-menu ul li a {
    color: #ffffff;
    text-transform: uppercase;
}
.sf-menu ul li a:hover {
    color: #0e81b4;
}
.sf-menu ul > .sfHover > a:after {
    color: #0e81b4;
}
.sf-menu ul li.sfHover > a {
    color: #0e81b4;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
    position: absolute;
    top: -5px;
    left: 110px;
    margin-left: 0;
    background: #0e81b4;
    padding: 10px 0 11px 0;
    z-index: 4;
    text-align: center;
}
.sf-menu ul ul li a {
    color: #ffffff;
    text-transform: uppercase;
}
.sf-menu ul ul li a:hover {
    color: #000000;
}
.sf-menu ul ul li + li {
    margin-top: 18px;
}
@media only screen and (max-width: 767px) {
    .sf-menu {
        display: none;
    }
    nav {
        width: 100%;
        float: none;
    }
    .select-menu {
        border-radius: none;
        display: block;
        text-transform: capitalize;
        float: none;
        color: #0e81b4;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        background: #ffffff;
        font: 22px/28px "Arial", sans-serif;
        text-align: left;
        border: 1px solid #c1c1c1;
        padding: 2px 0;
        position: relative;
    }
    .select-menu option {
        text-align: left;
        position: relative;
    }
}
/*Core variables and mixins*/
/* Stuck menu styles
========================================================*/
.isStuck {
    z-index: 999;
    position: fixed;
    -webkit-box-shadow: 0 0 4px 0 #000000;
    box-shadow: 0 0 4px 0 #000000;
}
.isStuck nav {
    margin-top: 0;
}
.isStuck#stuck_container {
    padding: 0;
}
.isStuck h1 {
    margin-top: -20px;
    padding-left: 28px;
    margin-bottom: -19px;
}
.isStuck h1 .main {
    font-size: 30px;
    line-height: 49px;
}

.isStuck .header-logomarca {
    height: 34px; 
    float: left; 
    padding-left: 28px;
    position: relative;

}

.isStuck .logomarca {
    height: 40px;
    margin-top: -10px; 
}

.isStuck h1 .secondary {
    margin-top: -10px;
    font-size: 8px;
    line-height: 8px;
}
.isStuck h1:before {
    width: 25px;
    height: 19px;
    background-size: contain;
}
@media only screen and (max-width: 979px) {
    .isStuck {
        display: none !important;
    }
}
/*========================================================
                    CONTENT styles
=========================================================*/
#content {
    background: #ffffff;
}
#content.common {
    padding-top: 68px;
}
/* ======= Post 1 The language center ======= */
.post1 {
    position: relative;
    padding-left: 76px;
}
@media (max-width: 767px) {
    .post1 {
        margin-bottom: 50px;
    }
}
.post1 img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    border: 1px solid #e2e2e2;
    border-radius: 200px;
    position: absolute;
    left: 0px;
    top: -2px;
    padding: 4px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .post1 h3 {
        font-size: 16px;
        line-height: 20px;
    }
}
/* ======= Banner 1 Feel free ======= */
.banner1 {
    padding: 78px 0 79px;
}
.banner1 .slogan .h7,
.banner1 .slogan h4 {
    margin-bottom: 14px;
}
.banner1 .btn-big {
    margin-top: 23px;
    width: 90%;
    font-size: 18px;
    
}
/* ======= Post 2 What we offer ======= */
.post2 {
    position: relative;
    padding-left: 70px;
    margin-top: 55px;
    margin-bottom: -12px;
    /*padding-right: 51px;*/
}
@media (max-width: 767px) {
    .post2 {
        padding-right: 0;
    }
}
.post2:hover .label {
    background:  #0F063E;
    -webkit-box-shadow: 0 0 0 6px  #0F063E;
    box-shadow: 0 0 0 6px  #0F063E;
    border-color: #ffffff;
    color: #ffffff;
}
.post2 .label {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    font: 400 28px/54px "Trebuchet MS", sans-serif;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    background: #ffffff;
    -webkit-box-shadow: 0 0 0 6px #ffffff;
    box-shadow: 0 0 0 6px #ffffff;
    border-radius: 200px;
    color: #373d43;
    position: absolute;
    left: 0;
    top: 0;
    color: #c0c0c0;
}

.post2 .label span {
    line-height: 50px;
}

.post2 h5 {
    margin-bottom: 4px;
    color:  #0F063E;
    font-weight: bold;
}
.post2 p, .post2 li {
    font: 400 13px/24px "Arial", sans-serif;
    color: #777;

}

.post2 li {
    font: 400 14px/21px "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

    line-height: 15px;  
    padding: 10px 0;
    margin-left: 15px;
}

.post2 li span {
    color:  #0F063E;
    line-height: 15px;  
    font-size: 11px;
    font-weight: bold;
    margin-left: -11px;
}

.post2 .btn-default {
    margin-top: 15px;
}
/* ======= Post 3 Featured events ======= */
.post3 {
    margin-top: 32px;
}
@media (max-width: 767px) {
    .post3 {
        margin-bottom: 60px;
    }
}
.post3 a {
    /*margin-right: 117px;*/
}
.post3 img {
    margin-bottom: 20px;
}
.post3 time {
    margin-bottom: 4px;
    display: inline-block;
    text-transform: uppercase;
}
.post3 time span {
    vertical-align: bottom;
}
.post3 time .year {
    font: 700 24px/21px "Trebuchet MS", sans-serif;
    color: #000000;
}
.post3 time .month {
    font: 700 14px/14px "Trebuchet MS", sans-serif;
    color: #000000;
}
.post3 p {
    font: 400 14px/21px "Arial", sans-serif;
    color: #868686;
    text-transform: uppercase;
}
.post3 a {
    display: inline-block;
}
.post3 a:hover * {
    color: #0e81b4;
}
/* ======= Banner 2 The leader in teaching ======= */
.banner2 {
    background: url(../images/page1_img8.png) no-repeat center;
    background-size: cover;
    padding: 55px 0 57px;
    position: relative;
}
.banner2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    top: -3px;
}
.banner2 .slogan h6 {
    font-size: 40px;
    letter-spacing: -0.025em;
}
@media (max-width: 979px) {
    .banner2 .slogan h6 {
        font-size: 25px;
        line-height: 30px;
    }
}
.banner2 h4 {
    color: #ffffff;
    margin-top: 5px;
    letter-spacing: -0.025em;
}
.banner2 .list1 {
    margin-top: 7px;
}
@media (max-width: 767px) {
    .banner2 .list1 {
        margin-top: 30px;
    }
}
/* ======= List 1 ======= */
.list1 li {
    padding-left: 18px;
    position: relative;
    font: 700 14px/14px "Trebuchet MS", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}
.list1 li a:hover {
    color: #222222;
}
.list1 li:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: url(../images/list1.png) no-repeat center;
    left: 0;
    top: 4px;
}
.list1 li + li {
    margin-top: 22px;
}
/* ======= Banner 3 Newsletter subscription ======= */
.banner3 {
    padding: 53px 0 39px;
    border-bottom: 1px solid #e4e4e4;
}
.banner3 span {
    display: block;
}
.banner3 .header {
    font: 700 24px/24px "Trebuchet MS", sans-serif;
    color: #373d43;
    text-transform: uppercase;
}
.banner3 .secondary {
    font: 400 18px/18px "Trebuchet MS", sans-serif;
    color: #818a93;
    margin-bottom: 7px;
}
.banner3 p {
    font: 400 12px/18px "Trebuchet MS", sans-serif;
    color: #818a93;
}

/* ======= Newsletter Form ======= */
.newsletter-form {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    position: relative;
    /* Submit Button GO */
    /* Error message style */
    /* Error message appears */
}
.newsletter-form #form1 {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.newsletter-form .button {
    display: inline-block;
    font: 400 14px/18px "Arial", sans-serif;
    text-transform: lowercase;
    color: #2f2f2f;
    margin-left: 5px;
    padding: 9px 0;
    width: 93px;
    height: 39px;
    border: 1px solid #919191;
    outline: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
@media (max-width: 979px) {
    .newsletter-form .button {
        margin-left: 0;
    }
}
.newsletter-form .button:hover {
    color: #0e81b4;
}
.newsletter-form .success {
    position: absolute;
    font-size: 11px;
    line-height: 14px;
    bottom: -22px;
    left: 39px;
    color: #0e81b4;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .newsletter-form .success {
        font-size: 10px;
        line-height: 11px;
        bottom: -20px;
    }
}
.newsletter-form input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 14px/24px "Arial", sans-serif;
    color: #979797;
    padding: 6px 15px 5px 15px;
    width: 427px;
    margin-left: 39px;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #919191;
    background: #ffffff;
    height: 39px;
}
@media (max-width: 1199px) {
    .newsletter-form input {
        width: 148px;
    }
}
@media (max-width: 979px) {
    .newsletter-form input {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .newsletter-form input {
        width: 100%;
    }
}
.newsletter-form input:focus {
    outline: none;
}
.newsletter-form .name {
    position: relative;
}
.newsletter-form .email {
    position: relative;
}
.newsletter-form .error {
    text-align: left;
    font-size: 9px;
    line-height: 9px;
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
    color: #222222;
}
.newsletter-form .invalid .error {
    display: block;
}
/* ======= banner 4 Partners ======= */
.banner4 {
    padding: 48px 0;
}
.banner4 img {
    background: #ffffff;
    max-width: 150px;
}
@media (max-width: 767px) {
    .banner4 {
        text-align: center;
    }
    .banner4 img {
        margin-bottom: 30px;
    }
}
.banner4 a:hover img {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
/* ======= Post 4 Quick View ======= */
.post4 {
    margin-top: 14px;
    margin-bottom: 79px;
}
.post4 h4 {
    margin-bottom: 14px;
}
.post4 p {
    margin-bottom: 24px;
}
.post4 .btn-big {
    margin-top: 33px;
}
.post4.__inset1 {
    margin-top: 53px;
}
/* ======= Progress bar ======= */
.progress {
    margin-top: 14px;
    margin-bottom: 25px;
}
.progress .info h4 {
    display: inline-block;
}
.progress .info h4.value {
    color: #a2a2a2;
    float: right;
}
.progress .container {
    margin-top: 8px;
    width: 100%;
    height: 12px;
    background: #dfe0df;
}
.progress .container .inner {
    display: inline-block;
    background: #0e81b4;
    height: 100%;
}
.progress.first .container .inner {
    width: 60%;
}
.progress.second .container .inner {
    width: 76%;
}
.progress.third .container .inner {
    width: 52%;
}
.progress.fourth .container .inner {
    width: 100%;
}
.progress.fifth .container .inner {
    width: 94%;
}
.progress.sixth .container .inner {
    width: 50%;
}
.progress.seventh .container .inner {
    width: 68%;
}
/* ======= Post 5 Our team ======= */
.post5 {
    margin-top: 50px;
    margin-bottom: 9px;
}
.post5 img {
    margin-bottom: 29px;
}
.post5 .h9 {
    margin-bottom: 15px;
}
.post5 p {
    font: 400 13px/21px "Arial", sans-serif;
    color: #949393;
}
/* ======= Post 6 What we do ======= */
.post6 {
    margin-bottom: 21px;
    margin-top: 27px;
}
.post6 .h10 {
    margin-bottom: 35px;
}
/* ======= Banner 5 ======= */
.banner5 {
    position: relative;
    padding: 55px 0 53px;
    background: url(../images/page2_img6.png) no-repeat center;
    background-size: cover;
}
.banner5:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    top: -3px;
}
.banner5 .slogan h6 {
    font-size: 40px;
    letter-spacing: -0.025em;
}
@media (max-width: 767px) {
    .banner5 .slogan h6 {
        font-size: 36px;
        line-height: 40px;
    }
}
.banner5 .btn-big {
    color: #0e81b4;
    width: 100%;
    margin-top: 21px;
}
.banner5 .btn-big:hover {
    color: #ffffff;
}
/* ======= Academics & Research ======= */
.post7 {
    margin-bottom: 56px;
    margin-top: 43px;
}
.post7 img {
    margin-top: 5px;
}
@media (max-width: 767px) {
    .post7 img {
        margin-bottom: 20px;
    }
}
.post7 h4 {
    margin-bottom: 14px;
}
.post7 h4 a {
    display: inline-block;
}
@media (max-width: 479px) {
    .post7 h4 a {
        margin-right: 23px;
    }
}
.post7 h4 a + a {
    margin-left: 23px;
}
@media (max-width: 479px) {
    .post7 h4 a + a {
        margin-left: 0;
    }
}
.post7 p {
    margin-bottom: 24px;
}
/* ======= Post 8 School and preschool programs ======= */
.post8 {
    margin-top: 52px;
    margin-bottom: 8px;
}
.post8 .header {
    position: relative;
    padding-left: 76px;
    margin-bottom: 14px;
}
@media (max-width: 979px) {
    .post8 .header {
        margin-bottom: 30px;
    }
}
.post8 .header img {
    position: absolute;
    left: 0;
    top: -2px;
    border: 3px solid #0e81b4;
    border-radius: 200px;
}
@media (max-width: 979px) {
    .post8 .header img {
        top: 50%;
        margin-top: -32px;
    }
}
@media (max-width: 979px) {
    .post8 h3 {
        font-size: 16px;
        line-height: 20px;
    }
}
.post8 h3 a:hover {
    color: #222222;
}
.post8 p {
    font: 400 13px/21px "Arial", sans-serif;
    color: #949393;
}
/* ======= Post 9 Degree programs ======= */
.post9 {
    margin-top: 27px;
    margin-bottom: 6px;
}
.post9 .divider {
    display: inline-block;
    margin: 0 14px 0 15px;
}
.post9 .h10 {
    margin-bottom: 50px;
}
.post9 h4 {
    margin-bottom: 5px;
}
.post9 p {
    margin-bottom: 18px;
}
.post9 .button {
    margin-top: 25px;
    text-align: center;
}
/* ======= Banner 6 bringing languages ======= */
.banner6 {
    background: url(../images/page3_img6.png) no-repeat center;
    background-size: cover;
    padding: 49px 0 56px;
    position: relative;
}
.banner6:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    top: -3px;
}
.banner6 .slogan {
    padding-left: 120px;
    position: relative;
}
@media (max-width: 479px) {
    .banner6 .slogan {
        padding-left: 0;
        padding-top: 90px;
    }
}
.banner6 .slogan:before {
    font-family: FontAwesome;
    font-size: 72px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    line-height: 50px;
    content: '\f0c0';
    left: 0;
    top: 29px;
    color: #ffffff;
}
@media (max-width: 479px) {
    .banner6 .slogan:before {
        left: 50%;
        top: 0;
        margin-left: -38.5px;
    }
}
.banner6 .slogan h6 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
}
@media (max-width: 767px) {
    .banner6 .slogan h6 {
        font-style: 30px;
        line-height: 40px;
    }
}
.banner6 .slogan h6 .inset {
    display: inline-block;
    margin-top: -3px;
    font-size: 48px;
    color: #2f2f2f;
    font-weight: 700;
}
@media (max-width: 767px) {
    .banner6 .slogan h6 .inset {
        font-size: 32px;
        line-height: 40px;
    }
}
.banner6 p {
    margin-top: 16px;
    font: 400 15px/24px "Trebuchet MS", sans-serif;
    color: #ffffff;
    padding-right: 72px;
}
/* ======= Blockquote 1 ======= */
.blockquote1 {
    margin-top: 43px;
    margin-bottom: 34px;
    padding-left: 75px;
    position: relative;
}
.blockquote1:before {
    font-family: FontAwesome;
    font-size: 48px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    content: '\f10d';
    color: #383838;
    line-height: 24px;
    left: 0;
    top: 15px;
}
.blockquote1 h4 {
    font-style: italic;
}
/* ======= Post 10 Requirements ======= */
.post10 {
    margin-top: 33px;
    margin-bottom: 86px;
    background: #f1f1f1;
    padding: 23px 20px 23px 31px;
    border-radius: 8px;
    border-top-left-radius: 0;
}
@media (max-width: 767px) {
    .post10 {
        margin-bottom: 50px;
    }
}
.post10.second {
    background: #d0d0d0;
}
.post10.second h4,
.post10.second p {
    color: #797979;
}
.post10.third {
    background: #a0a0a0;
}
.post10.third h4,
.post10.third p {
    color: #ffffff;
}
.post10.third h4 a:hover {
    color: #222222;
}
.post10.third .btn-default {
    color: #ffffff;
}
.post10.third .btn-default:hover {
    color: #222222;
}
.post10 h4 {
    font-size: 17px;
    margin-bottom: 25px;
}
.post10 .btn-default {
    margin-top: 14px;
    text-transform: none;
}
.post10.__inset1 {
    padding-right: 10px;
    margin-bottom: 0;
}
.filter-by {
    display: block;
    font: 16px/24px "Arial", sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
}
#filters {
    /* ---- button-group ---- */
}
#filters .button {
    display: inline-block;
    background: transparent;
    border: none;
    font: 600 14px/24px "Trebuchet MS", sans-serif;
    
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #150958;
}
#filters .button:hover {
    color: #fff;
    background: #150958;
}
#filters .button:active,
#filters .button.is-checked {
    color: #fff;
    background: #150958;
    outline: none;
}
#filters .button.is-checked {
    color: #fff;
}
#filters .button:active {
    color: #fff;
}
#filters .button-group:after {
    content: '';
    display: block;
    clear: both;
}
#filters .button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: -5px;
}
.isotope .element-item {
    width: 370px;
    float: left;
    margin-bottom: 17px;
}
@media (max-width: 1199px) {
    .isotope .element-item {
        width: 300px;
    }
}
@media (max-width: 979px) {
    .isotope .element-item {
        width: 236px;
    }
}
@media (max-width: 767px) {
    .isotope .element-item {
        width: 420px;
    }
}
@media (max-width: 479px) {
    .isotope .element-item {
        width: 270px;
    }
}
/* ======= Post 11 Checklist ======= */
.post11 {
    margin-top: 58px;
}
.post11 .wrapper a {
    display: block;
    background: #373d43;
    padding: 12px 16px 10px;
}
.post11 .wrapper a .h9 {
    font-weight: 400;
}
.post11 .wrapper a:hover {
    background: #0e81b4;
}
.post11 .wrapper a:hover .h9 {
    color: #ffffff;
}
.post11 .list3 {
    margin-top: 26px;
}
@media (max-width: 767px) {
    .post11 img {
        width: 100%;
    }
}
/* ======= List 3 ======= */
.list3 li {
    padding-left: 21px;
    position: relative;
}
.list3 li a:hover {
    color: #0e81b4;
}
.list3 li:before {
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    line-height: 26px;
    content: '\f138';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #373d43;
}
.list3 li + li {
    margin-top: 16px;
}
/* ======= Banner 7 Programs of Study Dean and Administration News ======= */
.wrapper-title {
    background: url(../images/page4_img3.png) no-repeat center;
    background-size: cover;
    padding: 43px 0 32px;
    position: relative;
}

.banner7 {
    background: url(../images/page4_img3.png) no-repeat center;
    background-size: cover;
    padding: 43px 0 12px;
    position: relative;
}
.banner7:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    top: -3px;
}
.banner7 .slogan {
    padding-left: 120px;
    position: relative;
}
@media (max-width: 767px) {
    .banner7 .slogan {
        padding-left: 0;
        padding-top: 90px;
        margin-bottom: 30px;
    }
}
.banner7 .slogan:before {
    font-family: FontAwesome;
    font-size: 72px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    line-height: 50px;
    content: '\f19c';
    left: 0;
    top: 34px;
    color: #ffffff;
}
@media (max-width: 767px) {
    .banner7 .slogan:before {
        left: 50%;
        margin-left: -41px;
        top: 0;
    }
}
.banner7 .slogan h6 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
}
@media (max-width: 979px) {
    .banner7 .slogan h6 {
        font-size: 30px;
        line-height: 35px;
    }
}
.banner7 .list3 {
    margin-top: 9px;
}
@media (max-width: 767px) {
    .banner7 .list3 {
        margin-bottom: 30px;
    }
}
.banner7 .list3 li a {
    color: #ffffff;
}
.banner7 .list3 li a:hover {
    color: #222222;
}
/* ======= Google Map  ======= */
.google-map_contacts {
    margin-top: 49px;
}
.google-map_contacts iframe {
    width: 100%;
    height: 360px;
}
@media (max-width: 767px) {
    .google-map_contacts iframe {
        height: 200px;
    }
}
/* ======= Address  ======= */
.address-block {
    margin-top: 23px;
}
@media (max-width: 767px) {
    .address-block {
        margin-bottom: 50px;
    }
}
.address-block address {
    margin-bottom: 3px;
}
.address-block span {
    line-height: 12px;
}
.address-block .our-address {
    display: block;
    margin-bottom: 18px;
    font: 400 18px/24px "Trebuchet MS", sans-serif;
    color: #383838;
    text-transform: uppercase;
}
.address-block .numbers {
    display: inline-block;
    min-width: 75px;
}
.simple-link {
    text-decoration: underline;
    color: #0e81b4;
}
.simple-link:hover {
    color: #222222;
}
/* ======= Post 12 Privacy Policy ======= */
.post12 {
    margin-top: 14px;
    margin-bottom: 38px;
}
.post12 h4 {
    margin-bottom: 15px;
}
.post12 .simple-link {
    display: inline-block;
    margin-top: 24px;
}
/*========================================================
                    FOOTER styles
=========================================================*/
#footer {
    padding-top: 63px;
    padding-bottom: 23px;
    background: #0F063E;
}
#footer .socials1 {
    margin-top: 23px;
}
#footer .socials1 li {
    margin-right: 22px;
}
#footer .socials1 li + li {
    margin-left: 0;
}
#footer .socials1 li a i {
    font-size: 22px;
    line-height: 22px;
}

#footer .privacy-block {
    margin-top: 12px;
    font: 400 16px/20px "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}
#footer address {
    margin-top: 22px;
}
#footer address span {
    display: block;
    color: #fff;
    font: 400 14px/16px "Arial", sans-serif;
    margin-bottom: 16px;
}
#footer .list2 {
    margin-top: 22px;
}
@media (max-width: 767px) {
    #footer {
        padding-top: 0;
    }
    #footer .h8 {
        margin-top: 40px;
    }
}
/* ======= List 2 ======= */
.list2 li {
    padding-left: 21px;
    position: relative;
    font: 400 14px/14px "Arial", sans-serif;
    color: #fff;
}
.list2 li a:hover {
    color: #0e81b4;
}
.list2 li:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background: url(../images/list2.png) no-repeat center;
    left: 0;
    top: 5px;
}
.list2 li + li {
    margin-top: 12px;
}
/*========================================================
                    Widget styles
=========================================================*/
/* UItoTop styles
========================================================*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    border: none;
    color: #fff;
    font-size: 28px;
    z-index: 20;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    background: #0F063E;
    padding: 10px 10px;
}
#toTop:hover {
    outline: none;
    background:#0088cc;
}
@media only screen and (max-width: 1199px) {
    #toTop {
        display: none !important;
    }
}
/*Core variables and mixins*/


/*========================================================
                    Flex Slider
=========================================================*/
.flexslider ul li { text-transform:none !important; }
.flexslider ul li:before { display:none !important; }
.flexslider ul li h5 a:hover, .flexslider ul li h5 a:focus { color:#4b4b4b; }
.flexslider.testimonials {
    margin-bottom:0;
    padding:0 50px;
    overflow:visible !important;
}
.flexslider.testimonials li { text-align:center; }
.flexslider.testimonials li .column {
    display:inline-block;
    vertical-align:top;
}
@media (max-width: 767px) {
    .flexslider.testimonials li .column { display:block; }
}
.flexslider.testimonials li .column-2 { text-align:left; }
@media (min-width: 768px) and (max-width: 979px) {
    .flexslider.testimonials li .column-2 { width:400px; }
}
@media (max-width: 767px) {
    .flexslider.testimonials li .column-2 { text-align:center; }
}
.flexslider.testimonials li h5 { display:none; }
.flexslider.testimonials li .excerpt {
    color:#fff;
    font-size:24px;
    font-family:'Open Sans', sans-serif;
    font-style:italic;
    font-weight:300 !important;
    line-height:1.5em;
    margin-top:19px;
    margin-bottom:19px;
    padding: 10px 10px;

}
.flexslider.testimonials li .excerpt a { color:#fff; }
.flexslider.testimonials li .excerpt a:hover, .flexslider.testimonials li .excerpt a:focus { color:#6cd2ff; }
.flexslider.testimonials li .quote {
    display:inline-block;
    vertical-align:top;
    width:100px;
    height:100px;
    line-height:100px;
    font-size:50px;
    color:#fff;
    margin:0 -29px 0 0;
    text-align:center;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    background-color:#4a4a4a;
    background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
    background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
    background-image:-o-linear-gradient(top,#4e4e4e,#444444);
    background-image:linear-gradient(to bottom,#4e4e4e,#444444);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
}
.flexslider.testimonials li .featured-thumbnail {
    float:none;
    position:relative;
    overflow:visible;
    display:inline-block;
    vertical-align:top;
    width:100px;
    height:100px;
    margin:0 44px 0 0;
    background-image:none !important;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    background-color:#0e81b4;
    background-image:-moz-linear-gradient(top,#a8c733,#9abe2d);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#a8c733),to(#9abe2d));
    background-image:-webkit-linear-gradient(top,#a8c733,#9abe2d);
    background-image:-o-linear-gradient(top,#a8c733,#9abe2d);
    background-image:linear-gradient(to bottom,#a8c733,#9abe2d);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8c733', endColorstr='#ff9abe2d', GradientType=0);
}
@media (min-width: 768px) and (max-width: 979px) {
    .flexslider.testimonials li .featured-thumbnail { margin-right:20px; }
}
@media (max-width: 767px) {
    .flexslider.testimonials li .featured-thumbnail { margin-right:0; }
}
.flexslider.testimonials li .featured-thumbnail i {
    font-size:50px;
    color:#fff;
    line-height:100px;
}
.flexslider.testimonials li .post_options .info, .flexslider.testimonials li .post_options a { display:none; }
.flexslider.testimonials li .post_options .user {
    font-family:'Open Sans', sans-serif;
    font-size:24px;
    font-weight:600;
    line-height:1.2em;
    color:#ffffff;
    background: #0e81b4;
    padding: 10px 10px;
}
.flexslider.testimonials li .post_options .user:before { content:'- '; }
.flexslider.testimonials .flex-direction-nav a {
    width:19px;
    height:30px;
    top:50%;
    margin:-15px 0 0 0;
    opacity:1;
}
.flexslider.testimonials .flex-direction-nav a:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
}
.flexslider.testimonials .flex-direction-nav a:before {
    content:'';
    width:19px;
    height:30px;
}
.flexslider.testimonials .flex-direction-nav a.flex-prev { left:0; }
@media (max-width: 767px) {
    .flexslider.testimonials .flex-direction-nav a.flex-prev { left:15px; }
}
.flexslider.testimonials .flex-direction-nav a.flex-prev:before { background-image:url(images/prev.png); }
.flexslider.testimonials .flex-direction-nav a.flex-next { right:0; }
@media (max-width: 767px) {
    .flexslider.testimonials .flex-direction-nav a.flex-next { right:15px; }
}
.flexslider.testimonials .flex-direction-nav a.flex-next:before { background-image:url(images/next.png); }