.banner4 {
  padding-bottom: 47px;
}
.banner4 a img {
  border-bottom: 1px solid transparent;
}
.banner4 a:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
  border-bottom: 1px solid #1bbd9f;
}
