/* Contact Form variables
========================================================*/
/* Contact Form Basic Styles 
========================================================*/
#inscricao-form {
  position: relative;
  margin-top: 48px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #inscricao-form {
    margin-bottom: 40px;
  }
}
#inscricao-form label {
  position: relative;
  display: inline-block;
  /*width: 380px;*/
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  margin-bottom: 6px;
}
#inscricao-form label.message {
  width: 100%;
  height: 267px;
}
@media (max-width: 979px) {
  #inscricao-form label {
    width: 100%;
  }
}
#inscricao-form fieldset {
  border: none;
}
/* Contact Form Placeholder Styles 
========================================================*/
#inscricao-form ._placeholder {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  line-height: 18px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #979797;
  padding: 12px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  cursor: text;
}
#inscricao-form ._placeholder.focused {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 255, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 255, 0.5);
}
#inscricao-form ._placeholder.hidden {
  display: none;
}
#inscricao-form .file ._placeholder {
  display: none;
}
/* Contact Form Input 
========================================================*/
#inscricao-form input[type='text'] {
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #979797;
  background: #fafcfb;
  padding: 10px 15px;
  outline: none;
  height: 100%;
  border: 1px solid #dfe1e0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  -webkit-appearance: none;
}
/* Contact Form Select 
========================================================*/
#inscricao-form select {
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #979797;
  background: #fafcfb;
  padding: 10px 15px;
  outline: none;
  height: 100%;
  border: 1px solid #dfe1e0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
}
/* Contact Form Textarea 
========================================================*/
#inscricao-form textarea {
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #979797;
  background: #fafcfb;
  padding: 12px 15px;
  outline: none;
  border: 1px solid #dfe1e0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  resize: none;
  height: 100%;
  -webkit-appearance: none;
}
#inscricao-form .message .empty-message,
#inscricao-form .message .error-message {
  right: 20px;
}
/* Contact Form Error messages
========================================================*/
#inscricao-form .empty-message,
#inscricao-form .error-message {
  position: absolute;
  right: 4px;
  top: 4px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  line-height: 12px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
#inscricao-form .invalid .error-message,
#inscricao-form .empty .empty-message {
  height: 20px;
}
/* Contact Form Buttons
========================================================*/
.inscricao-form-buttons {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 4px;
}
.inscricao-form-buttons .btn-big {
  min-width: 122px;
}
#inscricao-form .btn-big {
  border: 1px solid #9a9898;
  margin-right: 18px;
}
@media (max-width: 767px) {
  #inscricao-form .btn-big {
    margin-top: 15px;
  }
}
/* Contact Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
#inscricao-form .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}
#inscricao-form .modal h4 {
  font-weight: bold !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 24px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
  color: #525151 !important;
}
.modal-dialog {
  width: 600px;
  margin: 140px auto;
}
@media only screen and (max-width: 767px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* Contact Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000 !important;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000 !important;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
