<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title><?php echo PageUtil::getTitle(); ?></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="<?php echo $this->baseUrl(); ?>/content/smart/js/libs/jquery-2.0.2.min.js"><\/script>');}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) {document.write('<script src="<?php echo $this->baseUrl(); ?>/content/smart/js/libs/jquery-ui-1.10.3.min.js"><\/script>');}</script>

    <!-- BOOTSTRAP JS -->
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!-- MAIN APP JS FILE -->
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/app.config.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/app.min.js"></script>

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/favicon/favicon-sbrasil.ico" type="image/x-icon">
    <link rel="icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/favicon/favicon-sbrasil.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <link rel="apple-touch-icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<body class="animated fadeInDown">

<header id="header" style="height: 130px;">
    <!--<span id="logo"></span>-->

    <div id="logo-group">
        <span id="logo"> <img style="width: 220px;" src="<?php echo PageUtil::getConfig('administrador_header_logo_url') ?>" alt="<?php echo PageUtil::getConfig('site_title') ?>"> </span>
    </div>
</header>

<div class="modal-body no-padding" data-backdrop="block">
    <div id="main" role="main" style="display: inline-list-item; align-items: center; margin-top: 5%">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7" style="float: none; margin: auto;">
            <div class="row">
                <div class="well no-padding">
                    <?php echo $this->flashMessenger(); ?>
                    <form id="trocar-senha-form" method="POST" class="smart-form" name="trocar-senha-form">
                        <fieldset>
                            <section class="col-md-12">
                                <label class="label">Senha Atual</label>
                                <label class="input"> <i class="icon-append fa fa-eye" id="atualSenha" onclick="atualSenha()"></i>
                                    <input name="senha_atual" id="passwordAtual" type="password" placeholder="Digite sua senha atual">
                            </section>
                            <section class="col-md-12">
                                <label class="label">Nova Senha</label>
                                <label class="input"> <i class="icon-append fa fa-eye" id="novaSenha" onclick="novaSenha()"></i>
                                    <input name="senha_nova" id="new-password" type="password" placeholder="Digite sua nova senha">
                            </section>
                            <section class="col-md-12">
                                <label class="label">Confirme sua Senha</label>
                                <label class="input"> <i class="icon-append fa fa-eye" id="confirmaSenha" onclick="confirmeSenha()"></i>
                                    <input name="confirmar-senha" id="confirmePassword" type="password" placeholder="Confirme sua senha">
                            </section>
                            <div style="text-align: justify">
                                <small><b>* </b> Use de 8 à 20 caracteres com uma combinação de letras maiúsculas e minúsculas, números e símbolos. (A senha não pode conter ponto, espaço e aspas).</small>
                                <br>
                                <small><b>** </b> A senha é a sua assinatura eletrônica <b>pessoal e intransferível</b>, e nunca deve ser levada ao conhecimento de terceiros.</small>
                            </div>
                        </fieldset>
                        <footer>
                            <button id="submit" type="submit" class="btn btn-primary">
                                Trocar Senha
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>

    function atualSenha(){
        let input = document.querySelector('#passwordAtual');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#atualSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#atualSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    function novaSenha(){
        let input = document.querySelector('#new-password');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#novaSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#novaSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    function confirmeSenha(){
        let input = document.querySelector('#confirmePassword');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#confirmaSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#confirmaSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    var $form = $("#trocar-senha-form").validate({
        submitHandler: function () {
            submitHandler();
        }

    });

    function submitHandler() {
        var form = new FormData(document.forms.namedItem("trocar-senha-form"));

        $('button[type=submit]', $('#trocar-senha-form')).attr('disabled', 'disabled');
        $("#modal-form").hide();
        $("#content").find("script#smallBox").remove();
        var contentBackup = $("#content").html();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->baseUrl(); ?>/administrador/conta/trocar-senha",
            data: form,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            beforeSend: function () {
                $("#content").removeData().html("");
                $("#content").html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Carregando...</h1>');
                $("html, body").animate({
                    scrollTop: 0
                }, "fast");
            },
            success: function (msg) {
                if ($(msg).has('div.alert.alert-block.alert-warning').length) {
                    $("#modal-form").html(msg);
                    $("#content").html(contentBackup);
                } else {
                    $("#remoteModal").removeData("bs.modal").find(".modal-content").empty();

                    $("#content").css({
                        opacity: "0.0"
                    }).html(msg).delay(50).animate({
                        opacity: "1.0"
                    }, 300);
                }

                $("#modal-form").show();
            },
            error: function () {
                alert("failure");
            }
        });
    }
</script>