<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">Trocar senha</h4>
</div>

<div class="modal-dialog-xl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="well">
                    <?php echo $this->flashMessenger(); ?>
                <form id="trocar-senha-form" method="POST" class="smart-form" name="trocar-senha-form" >
                    <fieldset>
                        <section class="col-md-12">
                            <label class="label">Senha Atual</label>
                            <label class="input"> <i class="icon-append fa fa-eye" id="atualSenha" onclick="atualSenha()"></i>
                                <input name="senha_atual" id="passwordAtual" type="password" placeholder="Digite sua senha atual">
                        </section>
                        <section class="col-md-12">
                            <label class="label">Nova Senha</label>
                            <label class="input"> <i class="icon-append fa fa-eye" id="novaSenha" onclick="novaSenha()"></i>
                                <input name="senha_nova" id="new-password" type="password" placeholder="Digite sua nova senha">
                        </section>
                        <section class="col-md-12">
                            <label class="label">Confirme sua Senha</label>
                            <label class="input"> <i class="icon-append fa fa-eye" id="confirmaSenha" onclick="confirmeSenha()"></i>
                                <input name="confirmar-senha" id="confirmePassword" type="password" placeholder="Confirme sua senha">
                        </section>
                        <div style="text-align: justify">
                            <small><b>* </b> Use de 8 à 20 caracteres com uma combinação de letras maiúsculas e minúsculas, números e símbolos. (A senha não pode conter ponto, espaço e aspas).</small>
                            <br>
                            <small><b>** </b> A senha é a sua assinatura eletrônica <b>pessoal e intransferível</b>, e nunca deve ser levada ao conhecimento de terceiros.</small>
                        </div>
                    </fieldset>
                    <footer>
                        <button id="submit" type="submit" class="btn btn-primary">
                            Trocar Senha
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function atualSenha(){
        let input = document.querySelector('#passwordAtual');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#atualSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#atualSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    function novaSenha(){
        let input = document.querySelector('#new-password');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#novaSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#novaSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    function confirmeSenha(){
        let input = document.querySelector('#confirmePassword');

        if(input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            $('#confirmaSenha').removeClass("fa fa-eye").addClass("fa fa-eye-slash");
        } else {
            input.setAttribute('type', 'password');
            $('#confirmaSenha').removeClass("fa fa-eye-slash").addClass("fa fa-eye");
        }
    }

    var $form = $("#trocar-senha-form").validate({
        submitHandler: function () {
            submitHandler();
        }

    });

    function submitHandler() {
        var form = new FormData(document.forms.namedItem("trocar-senha-form"));

        $('button[type=submit]', $('#trocar-senha-form')).attr('disabled', 'disabled');
        $("#modal-form").hide();
        $("#content").find("script#smallBox").remove();
        var contentBackup = $("#content").html();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->baseUrl(); ?>/administrador/conta/trocar-senha-logado",
            data: form,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            beforeSend: function () {
                $("#content").removeData().html("");
                $("#content").html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Carregando...</h1>');
                $("html, body").animate({
                    scrollTop: 0
                }, "fast");
            },
            success: function (msg) {
                if ($(msg).has('div.alert.alert-block.alert-warning').length) {
                    $("#modal-form").html(msg);
                    $("#content").html(contentBackup);

                    $("#modal-form").show();
                } else {
                    $("#remoteModal").modal('hide')

                    alert("Senha alterada com Sucesso!");

                    document.location.reload();
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }
</script>
