<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="page-title txt-color-blueDark">
			
			<!-- PAGE HEADER -->
			<i class="icon-fixed-width icon-home"></i> 
				Email Template 
			<span>>  
				Responsive Email templates!
			</span>
		</h1>
	</div>
	
</div>

	<!-- row -->
	<div class="row">
		
		<div class="col-sm-12">
			<div class="alert alert-info">
				<h4><strong>Preview of these email templates are only available after purchase!</strong></h4>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<img src="img/demo/basic.png" alt="Basic Email Template" style="width:100%; height:auto;">
			<br>
			<br>
			<a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-block">Basic Email Template</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<img src="img/demo/sidebar.png" alt="Sidebar Email Template" style="width:100%; height:auto;">
			<br>
			<br>
			<a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-block">Sidebar Email Template</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<img src="img/demo/hero.png" alt="Hero Email Template" style="width:100%; height:auto;">
			<br>
			<br>
			<a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-block">Hero Email Template</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<img src="img/demo/sidebarhero.png" alt="Sidebar with Hero" style="width:100%; height:auto;">
			<br>
			<br>
			<a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-block">Sidebar with Hero</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<img src="img/demo/newsletter.png" alt="Newsletter Email Template" style="width:100%; height:auto;">
			<br>
			<br>
			<a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-block">Newsletter Template</a>
		</div>								
		
	</div>
	<!-- end row -->		


<script type="text/javascript">
	
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */
	
	
</script>

