<script type="text/javascript">
    $(document).ready(function() {
        $('#equipe_table tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        });

        $("input[name='equipe-filter']").keyup(function() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("equipe-filter");
            filter = input.value.toUpperCase();
            table = document.getElementById("equipe_table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });

        $("#check-all-equipe").click(function () {
            var rows_filtered = $(".equipe-item").filter(function () {
                return $(this).css("display") !== "none";
            });

            if ($(this).is(":checked")) {
                $(rows_filtered).find("input[name='equipes[]']").prop('checked', true);
            } else {
                $(rows_filtered).find("input[name='equipes[]']").prop('checked', false);
            }
        });
    });
</script>
<style type="text/css">
    #equipe_table tbody tr {
        cursor: pointer;
    }
</style>
<fieldset>
    <section class="col col-xs-6">
        <label class="input">
            <input id="equipe-filter" name="equipe-filter" type="text" placeholder="Filtro">
        </label>
    </section>

    <table id="equipe_table" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th style="width: 10px;"><input type="checkbox" name="check-all-equipe" id="check-all-equipe"></th>
            <th>Nome Equipe</th>
        </tr>
        </thead>
        <?php foreach ($this->equipes as $equipe) : ?>
            <tr class="equipe-item">
                <td>
                    <input type="checkbox" name="equipes[]" <?php echo $this->administrador->Usuario->id > 0 ? ViewUtil::fillFieldCheckMultiple($this->administrador->Usuario->getEquipes(), $equipe->id) : '' ?> value="<?php echo $equipe->id ?>">
                </td>
                <td><?php echo $equipe->nome ?></td>

            </tr>
        <?php endforeach; ?>
    </table>
</fieldset>