<fieldset>
    <section class="col col-6">
        <label class="label">Email</label>
        <label for="email" class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
            <input id="email" name="email" type="text" value="<?php echo $this->administrador->Usuario->email ?>">
        </label>
    </section>
    <section class="col col-6">
        <label class="label">Username</label>
        <label for="email" class="input">
            <input id="username" name="username" type="text" value="<?php echo $this->administrador->Usuario->username ?>">
        </label>
    </section>
    
    <section class="col col-2">
        <label class="label">Horário de Acesso</label>
        <label class="input">
            <input id="horaini" name="horario_acesso[]" class="txHora" type="text" size="7" maxlength="5" value="<?php echo $this->administrador->getHorarioAcesso(0); ?>">
        </label>
    </section>
    <section class="col col-sm-offset-0 no-padding">
        <label class="label">&nbsp;</label>
        <label class="label">
            até
        </label>
    </section>
    <section class="col col-2">
        <label class="label">&nbsp;</label>
        <label class="input">
            <input id="horafim" name="horario_acesso[]" class="txHora" type="text"  size="7" maxlength="5" value="<?php echo $this->administrador->getHorarioAcesso(1); ?>">
        </label>
    </section>
    
    <section class="col col-6">
        <label class="label">Senha</label>
        <label for="senha" class="input">
            <input id="senha" name="senha" type="password" value="">
        </label>
    </section>

    

</fieldset>
    <fieldset>
    <section class="col col-6">
        <label class="label">Status</label>
        <label class="select">
            <select data-placeholder="[  Selecione o Status ]" class="input-small chzn-select-deselect" name="status" id="status">
                <option <?php echo ViewUtil::fillFieldSelect($this->administrador->Usuario->status, Usuario::ATIVO) ?> value="<?php echo Usuario::ATIVO ?>">Ativo</option>
                <option <?php echo ViewUtil::fillFieldSelect($this->administrador->Usuario->status, Usuario::INATIVO) ?> value="<?php echo Usuario::INATIVO ?>">Inativo</option>
            </select> <i></i> </label>
    </section>

    <?php if (Empresa::isMaster()) : ?>
        <section class="col col-6">
            <label class="label">Empresa</label>
            <label class="select">
                <select  name="empresa" id="empresa">
                    <option value="0">[  Selecione a Empresa ]</option>
                    <?php foreach ($this->empresas as $empresa): ?>
                        <option <?php echo ViewUtil::fillFieldSelect($this->administrador->empresa_id, $empresa->id) ?> value="<?php echo $empresa->id ?>"><?php echo $empresa->razao_social ?></option>
                    <?php endforeach ?>
                </select> <i></i> 
            </label>
        </section>
    <?php endif; ?>

</fieldset>