<script type="text/javascript">
    function removeImagemButton(id) {
        $('#remove').attr('value', id);
        $('#administrador-form').submit();
    }
</script>

<div class="modal-body no-padding">

    <form id="administrador-form" class="smart-form" enctype="multipart/form-data" name="administrador-form">

        <fieldset>
            <?php echo $this->flashMessengerForm(); ?>    

            <section class="col col-sm-12">
                <label class="label">Foto de Perfil</label>
                <?php if (AppUtil::isFileExists($this->administrador->Usuario, UploadUtil::UPLOAD_PATH_USUARIO)) : ?>
                    <label class="col" id="result" style="background-color: #fff; margin: 10px 30px 10px 1px; padding: 5px;  float: left;" class="rounded-light shadow">
                        <div id="imagem-perfil">
                            <img src="<?php echo AppUtil::getFileView($this->administrador->Usuario, UploadUtil::UPLOAD_PATH_USUARIO, '160') ?>">
                        </div>
                        <input type="hidden" name="remove" id="remove">
                    </label>
                    <label class="col">
                        <a title="Remover imagem" class="btn btn-danger btn-xs" onClick="removeImagemButton(<?php echo $this->administrador->id ?>);">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </a>
                    </label>
                <?php endif; ?>
                <label class="col" for="file" class="input input-file">
                    <input id="file" type="file" name="file">
                </label>
            </section>

            <section class="col col-6">
                <label class="label">Nome</label>
                <label class="input"> <i class="icon-prepend fa fa-user"></i>
                    <input name="nome" type="text" placeholder="Nome" value="<?php echo $this->administrador->nome ?>">
                </label>
            </section>

            <section class="col col-6">
                <label class="label">Perfil de Acesso</label>
                <label class="select">
                    <select  name="perfil">
                        <option value="0">[  Selecione o Perfil ]</option>
                        <?php foreach ($this->perfis as $perfil): ?>
                            <option <?php echo ViewUtil::fillFieldSelect($this->administrador->Usuario->usuario_perfil_id, $perfil->id) ?> value="<?php echo $perfil->id ?>"><?php echo $perfil->nome ?></option>
                        <?php endforeach ?>
                    </select> <i></i> 
                </label>
            </section>
            
        </fieldset>

        <div class="padding-10">
            <ul id="myTab1" class="nav nav-tabs bordered">
                <li class="active">
                    <a href="#dados" data-toggle="tab">Dados</a>
                </li>
                <li>
                    <a href="#permissoes" data-toggle="tab">Permissões</a>
                </li>
                <li>
                    <a href="#equipes" data-toggle="tab">Equipes</a>
                </li>
            </ul>

            <div id="myTabContent1" class="tab-content">
                <div class="tab-pane fade in active" id="dados">
                    <?php include 'form_dados.phtml' ?>
                </div>
                <div class="tab-pane fade" id="permissoes">
                    <?php include 'form_permissoes.phtml' ?>
                </div>
                <div class="tab-pane fade" id="equipes">
                    <?php include 'form_equipes.phtml' ?>
                </div>
            </div>
        </div>

        <footer>
            <button id="submit" type="submit" class="btn btn-primary">
                Salvar
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
        </footer>

    </form>

</div>

<script>

    $(".txHora").mask("99:99");
    
    var files = new Array();
    $('input[type=file]').on('change', prepareUpload);
    function prepareUpload(event) {
        files = event.target.files;
    }

    var $form = $("#administrador-form").validate({
        submitHandler: function() {
            submitHandler();
        }

    });

    function submitHandler() {
        var form = new FormData(document.forms.namedItem("administrador-form"));

        $.each(files, function(key, value)
        {
            form.append(key, value);
        });

        $('button[type=submit]', $('#administrador-form')).attr('disabled', 'disabled');
        $("#content").find("script#smallBox").remove();
        var contentBackup = $("#content").html();
        $.ajax({
            url: "<?php echo $this->serverUrl(true); ?>",
            type: 'POST',
            data: form,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            beforeSend: function() {
                $("#content").removeData().html("");
                $("#content").html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Carregando...</h1>');
                $("html, body").animate({
                    scrollTop: 0
                }, "fast");
            },
            success: function(msg) {
                if ($(msg).has('div.alert.alert-block.alert-warning').length) {
                    $("#modal-form").html(msg);
                    $("#content").html(contentBackup);
                } else {
                    $("#remoteModal").modal('hide');
                    $("#remoteModal").removeData("bs.modal").find(".modal-content").empty();

                    $("#content").css({
                        opacity: "0.0"
                    }).html(msg).delay(50).animate({
                        opacity: "1.0"
                    }, 300);
                }
            },
            error: function() {
                alert("failure");
            }
        });

    }


</script>
<script src="<?php echo $this->baseUrl(); ?>/content/upload/jquery/js/load-image.min.js"></script>
<script type="text/javascript">
    var result = $('#result');
    document.getElementById('file').onchange = function(e) {
        window.loadImage(
                (e.dataTransfer || e.target).files[0],
                function(img) {
                    $("#imagem-perfil").children().replaceWith(img);
                },
                {
                    maxWidth: 160,
                    maxHeight: 160,
                    canvas: true
                }
        );
    };
</script>