<script type="text/javascript">
    $(document).ready(function() {
        $('#permissao_table tr').click(function(event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        });

        $("input[name='permission-filter']").keyup(function() {
			// Declare variables
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("permission-filter");
			filter = input.value.toUpperCase();
			table = document.getElementById("permissao_table");
			tr = table.getElementsByTagName("tr");

			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		});

		$("#check-all-permissao").click(function () {
			var rows_filtered = $(".permissao-item").filter(function () {
				return $(this).css("display") !== "none";
			});

            if ($(this).is(":checked")) {
                $(rows_filtered).find("input[name='funcionalidade[]']").prop('checked', true);
            } else {
                $(rows_filtered).find("input[name='funcionalidade[]']").prop('checked', false);
            }
        });
    });
</script>
<style type="text/css">
    #permissao_table tbody tr {
        cursor: pointer;
    }
</style>
<fieldset>
    <section class="col col-xs-6">
		<label class="input">
			<input id="permission-filter" name="permission-filter" type="text" placeholder="Filtro">
		</label>
	</section>

    <table id="permissao_table" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th style="width: 10px;"><input type="checkbox" name="check-all-permissao" id="check-all-permissao"></th>
                <th>Nome</th>
                <th>Módulo</th>
                <th>Controlador</th>
                <th>Ação</th>
            </tr>
        </thead>
        <?php foreach ($this->funcionalidades as $funcionalidade) : ?>
            <tr class="permissao-item">
                <td>
                    <input type="checkbox" name="funcionalidade[]" <?php echo $this->administrador->Usuario->id > 0 ? ViewUtil::fillFieldCheckMultiple($this->administrador->Usuario->getFuncionalidades(), $funcionalidade->id) : '' ?> value="<?php echo $funcionalidade->id ?>">
                </td>
                <td><?php echo $funcionalidade->nome ?></td>
                <td><?php echo $funcionalidade->module ?></td>
                <td><?php echo $funcionalidade->controller ?></td>
                <td><?php echo $funcionalidade->action ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</fieldset>

