<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title">
            <i class="fa fa-user"></i>
            Administradores
        </h1>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        <!-- Button trigger modal -->
        <a onclick="return modalLoad(this.href);" href="<?php echo $this->baseUrl(); ?>/administrador/administrador/novo/" class="btn btn-success btn-lg pull-right header-btn hidden-mobile">
            <i class="fa fa-plus"></i> Novo
        </a>

    </div>
</div>

<div class="modal-body no-padding margin-bottom-10">
    <form method="GET" action=""  class="smart-form" id="form_filtrar" >
        <fieldset>
            <section class="col col-3">
                <label class="label">Nome</label>
                <label class="input">
                    <input name="nome" type="text" placeholder="Nome" value="<?php echo $this->repository_filter->getParamByField('nome') ?>">
                </label>
            </section>
            <section class="col col-3">
                <label class="label">Email</label>
                <label class="input">
                    <input name="email" type="text" placeholder="Email" value="<?php echo $this->repository_filter->getParamByField('email') ?>">
                </label>
            </section>
            <section class="col col-3">
                <label class="label">Perfil de Acesso</label>
                <label class="select">
                    <select class="input-small " name="perfil">
                        <option <?php echo ViewUtil::fillFieldSelect($this->repository_filter->getParamByField('perfil'), "-1") ?> value="-1">[ Todos ]</option>
                        <<?php foreach ($this->perfis as $perfil): ?>
                            <option <?php echo ViewUtil::fillFieldSelect($this->repository_filter->getParamByField('perfil'), $perfil->id) ?> value="<?php echo $perfil->id ?>"><?php echo $perfil->nome ?></option>
                        <?php endforeach ?>
                    </select> <i></i> </label>
            </section>
            <section class="col col-2">
                <label class="label">Status</label>
                <label class="select">
                    <select class="input-small " name="status" id="situacao">
                        <option <?php echo ViewUtil::fillFieldSelect($this->repository_filter->getParamByField('status'), Administrador::ATIVO) ?> value="<?php echo Administrador::ATIVO ?>">Ativo</option>
                        <option <?php echo ViewUtil::fillFieldSelect($this->repository_filter->getParamByField('status'), Administrador::INATIVO) ?> value="<?php echo Administrador::INATIVO ?>">Inativo</option>
                    </select> <i></i> </label>
            </section>
        </fieldset>

        <footer>
            <button id="submit" type="submit" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-filter"></i> Filtrar
            </button>
        </footer>
    </form>
</div>

<div class="well">

    <?php echo $this->flashMessenger(); ?>
    <table class="table table-bordered table-hover table-striped dataTable">
        <thead>
            <tr>
                <?php echo ViewUtil::getOrderBy('Nome', 'nome', $this->repository_order) ?>
                <?php echo ViewUtil::getOrderBy('Email', 'email', $this->repository_order) ?> 
                <?php if (UsuarioPermissaoRepository::getPermissaoByUsuarioAndMenu(Usuario::getLogged()->id, "administrador", "administrador", "ver-senhas")) : ?>  
                <?php endif; ?>
                <?php echo ViewUtil::getOrderBy('Status', 'status', $this->repository_order) ?>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->list as $item): ?>

                <tr>
                    <td>
                        <?php echo $item->nome ?>
                        <br/>
                        <small class="text-muted"><?php echo $item->Usuario->UsuarioPerfil->nome?></small>
                    </td>
                    <td>
                        <?php echo $item->Usuario->email ?>
                        <?php if (UsuarioPermissaoRepository::getPermissaoByUsuarioAndMenu(Usuario::getLogged()->id, "administrador", "administrador", "ver-senhas")) : ?>
                            <br><small class="text-danger"><?php echo $item->Usuario->senha ?></small>
                        <?php endif; ?>
                    </td>
                    <td><?php echo $item->Usuario->getStatus() ?></td>
                    <td width="20px" style="text-align: center; vertical-align: middle;">
                        <a class="btn btn-primary btn-xs" onclick="return modalListLoad(this.href);" href="<?php echo $this->baseUrl(); ?>/administrador/administrador/editar/id/<?php echo $item->id; ?>"><i title="editar" class="fa fa-edit  fa-lg"></i></a>
                    </td>
                    <td width="20px" style="text-align: center; vertical-align: middle;">
                        <?php if ($item->Usuario->id != Zend_Auth::getInstance()->getIdentity()->id): ?>
                            <a class="btn btn-danger btn-xs" data-action="listDeleteItem" data-msg="Confirma a exclusão do administrador ?" href="<?php echo $this->baseUrl(); ?>/administrador/administrador/deletar/id/<?php echo $item->id; ?>"><i title="excluir" class="fa fa-trash-o fa-lg"></i></a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

    <?php if (isset($this->list)) echo $this->paginationControl($this->list, "All", "paginator.phtml", $this->list_params); ?>

</div>


<script>
    var $form = $("#form_filtrar").validate({
        submitHandler: function () {
            submitFormFiltrar();
        }

    });

    function submitFormFiltrar() {
        $('button[type=submit]', $('#form_filtrar')).attr('disabled', 'disabled');
        $("#content").find("script#smallBox").remove();
        var contentBackup = $("#content").html();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->repository_filter->getUrlFilter(); ?>",
            data: $('#form_filtrar').serialize(),
            beforeSend: function () {
                $("#content").removeData().html("");
                $("#content").html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Carregando...</h1>');
                $("html, body").animate({
                    scrollTop: 0
                }, "fast");
            },
            success: function (msg) {
                if ($(msg).has('div.alert.alert-block.alert-warning').length) {
                    $("#modal-form").html(msg);
                    $("#content").html(contentBackup);
                } else {
                    $("#remoteModal").modal('hide');
                    $("#remoteModal").removeData("bs.modal").find(".modal-content").empty();

                    $("#content").css({
                        opacity: "0.0"
                    }).html(msg).delay(50).animate({
                        opacity: "1.0"
                    }, 300);
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }
</script>
