<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">Cadastrar administrador</h4>
</div>

<?php include 'form.phtml' ?>