<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title">
            <i class="fa fa-book"></i>
            Turma
        </h1>
    </div>
</div>

<div class="modal-body no-padding margin-bottom-10">
    <form method="GET" action=""  class="smart-form" id="form_filtrar" >
        <fieldset>
            <section class="col col-3">
                <label class="label">Aluno Nome</label>
                <label class="input">
                    <input name="nome" type="text" placeholder="Aluno Nome" value="<?php echo $this->repository_filter->getParamByField('nome') ?>">
                </label>
            </section>
            <section class="col col-3">
                <label class="label">Curso</label>
                <label class="input">
                    <input name="descricao" type="text" placeholder="Curso" value="<?php echo $this->repository_filter->getParamByField('descricao') ?>">
                </label>
            </section>
            <section class="col col-3">
                <label class="label">Professor Nome</label>
                <label class="input">
                    <input name="professor_nome" type="text" placeholder="Professor Nome" value="<?php echo $this->repository_filter->getParamByField('professor_nome') ?>">
                </label>
            </section>
        </fieldset>

        <footer>
            <button id="submit" type="submit" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-filter"></i> Filtrar
            </button>
        </footer>
    </form>
</div>


<div class="well">

    <?php echo $this->flashMessenger(); ?>
    <table class="table table-bordered table-hover table-striped dataTable">
        <thead>
            <tr>
                <th>Aluno Nome</th>
                <th>Curso</th>
                <th>Professor Nome</th>
            </tr>
        </thead>
        <tbody>

            <?php foreach ($this->list as $item): ?>
                <tr>
                    <td><?php echo $item->Matricula->Aluno->nome ?></td>
                    <td>
                        <?php echo $item->Matricula->Curso->descricao ?>
                    </td>
                    <td>
                        <?php echo $item->Professor->nome ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

    <?php if (isset($this->list)) echo $this->paginationControl($this->list, "All", "paginator.phtml", $this->list_params); ?>

</div>


<script>
    var $form = $("#form_filtrar").validate({
        submitHandler: function () {
            submitFormFiltrar();
        }

    });

    function submitFormFiltrar() {
        $('button[type=submit]', $('#form_filtrar')).attr('disabled', 'disabled');
        $("#content").find("script#smallBox").remove();
        var contentBackup = $("#content").html();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->repository_filter->getUrlFilter(); ?>",
            data: $('#form_filtrar').serialize(),
            beforeSend: function () {
                $("#content").removeData().html("");
                $("#content").html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Carregando...</h1>');
                $("html, body").animate({
                    scrollTop: 0
                }, "fast");
            },
            success: function (msg) {
                if ($(msg).has('div.alert.alert-block.alert-warning').length) {
                    $("#modal-form").html(msg);
                    $("#content").html(contentBackup);
                } else {
                    $("#remoteModal").modal('hide');
                    $("#remoteModal").removeData("bs.modal").find(".modal-content").empty();

                    $("#content").css({
                        opacity: "0.0"
                    }).html(msg).delay(50).animate({
                        opacity: "1.0"
                    }, 300);
                }
            },
            error: function () {
                alert("failure");
            }
        });
    }
</script>
