<style>

    nav ul li a:active {
        background: none !important;
    }

    nav ul.pagination {
        width: auto  !important;
        padding: 40px 28px 25px 0;
        padding: 0;
        margin: auto !important;
        font-size: 13px;
        line-height: .5em;
        list-style: none;
        position: relative;
    }

    nav ul.pagination li.active>a:before {
        content: none;
        font-family: FontAwesome;
        display: block;
        height: 27px;
        line-height: normal;
        width: 27px;
        position: absolute;
        right: 0px;
        font-size: 20px;
        color: #eee;
    }

</style>
<?php
$page_size = $this->itemCountPerPage;
$max_page = 3;
$min_page = 3;
$count = $this->totalItemCount;
$page = $this->current;

$pages_number = $count / $page_size;
$pages_number = ($pages_number > 1) ? ceil($pages_number) : '1';

$first_page = ($page - $min_page) < 1 ? 1 : $page - $min_page;
$last_page = ($page + $max_page) >= $pages_number ? $pages_number : $page + $max_page;

$url = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
$url_part = (isset($this->filter)) ? $this->filter->getParamString() : '';
?>

<div class="text-center">

    <h5>
        <small>
            Página <b><?php echo $this->current ?></b> de <b><?php echo count($this->pagesInRange) ?></b>
        </small>
    </h5>
    <nav>
        <?php if (count($this->pagesInRange) > 1) { ?>
            <ul class="pagination">
				<li class="prev <?php echo (isset($this->previous)) ? '' : ' disabled ' ?>"><a <?php print (isset($this->previous)) ? 'href="'. RepositoryFilter::getUrlPage($url, $this->first, $url_part) . '"' : ' class="disabled" '  ?>>« Primeira</a></li>
                <li class="prev <?php echo (isset($this->previous)) ? '' : ' disabled ' ?>"><a <?php print (isset($this->previous)) ? 'href="'. RepositoryFilter::getUrlPage($url, $this->previous, $url_part) . '"' : ' class="disabled" '  ?>>← Anterior</a></li>
                <?php for ($index = $first_page; $index <= $last_page; $index++) : ?>
                    <li class="<?php echo ($this->pagesInRange[$index] == $this->current) ? "active" : "number" ?>">
                        <a href="<?php echo RepositoryFilter::getUrlPage($url, $index, $url_part) ?>"><?php print $this->pagesInRange[$index]; ?></a>
                    </li>
                <?php endfor; ?> 
                <li class="next <?php echo (isset($this->next)) ? '' : ' disabled ' ?>"><a <?php print (isset($this->next)) ? 'href="'. RepositoryFilter::getUrlPage($url, $this->next, $url_part) . '"' : ' class="disabled" '  ?>>Pr&oacute;xima →</a></li>
				<li class="next <?php echo (isset($this->next)) ? '' : ' disabled ' ?>"><a <?php print (isset($this->next)) ? 'href="'. RepositoryFilter::getUrlPage($url, $this->last, $url_part) . '"' : ' class="disabled" '  ?>>Última »</a></li>
            </ul>
        <?php } ?>
    </nav>

</div>