<script src="<?php echo $this->baseUrl(); ?>/content/smart-site/js/isotope-docs.min.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            // init Isotope
            var $container = $('.isotope').isotope({
                itemSelector: '.element-item',
                layoutMode: 'packery'
            });
            // filter functions
            var filterFns = {
                // show if number is greater than 50
                numberGreaterThan50: function () {
                    var number = $(this).find('.number').text();
                    return parseInt(number, 10) > 50;
                },
                // show if name ends with -ium
                ium: function () {
                    var name = $(this).find('.name').text();
                    return name.match(/ium$/);
                }
            };
            // bind filter button click
            $('#filters').on('click', 'button', function () {
                var filterValue = $(this).attr('data-filter');
                // use filterFn if matches value
                filterValue = filterFns[ filterValue ] || filterValue;
                $container.isotope({filter: filterValue});
            });
            // change is-checked class on buttons
            $('.button-group').each(function (i, buttonGroup) {
                var $buttonGroup = $(buttonGroup);
                $buttonGroup.on('click', 'button', function () {
                    $buttonGroup.find('.is-checked').removeClass('is-checked');
                    $(this).addClass('is-checked');
                });
            });

            $('#filters').find('button[data-filter=".<?php echo $this->menu_ativo ?>"]').click();

        });

    });
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
</div>
<![endif]-->

<div class="wrapper-title wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="">
                    <h6>Cursos</h6>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrapper5">
    <div class="container">

        <br/>

        <style>
            .element-item div {padding: 10px; border: 1px #045d85 solid; color: #045d85; text-transform: uppercase;}
            .element-item div:hover {background: #045d85; color: #fff;}

            .table  {width: 100%}
            .table td {border: 1px solid #ccc; padding: 4px; color: #045d85; text-transform: uppercase;}
            .table tr:hover {background-color: #eee}
        </style>

        <div class="row">
            <div class="grid_3">
                <form method="POST" action="<?php echo $this->baseUrl(); ?>/catalogo/busca">
                    <table class="table">
                        <tr>
                            <td style="background-color: #045d85; color: #fff; text-align: center;">BUSCAR CURSO</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <input style="padding: 10px; width: 90%;" type="text" name="nome_curso" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <button style="padding: 10px;" id="confirmar_inscricao" type="submit">Buscar</button>
                            </td>
                        </tr>
                    </table>
                </form>

                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td colspan = 2 style="background-color: #045d85; color: #fff; text-align: center;">FILTROS</td>
                    </tr>
                        <tr>
                            <td colspan = 2 >
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/clean-filters">
                                    APAGAR FILTROS
                                </a>
                            </td>
                        </tr>
                    <?php foreach ($this->filters as $index => $filter) : ?>
                        <tr>
                            <td>
                                <a>
                                    <?php if ($index == "workLoad"): ?>
                                        <?php echo $this->filtersName[$index] . " HORAS"?>
                                    <?php else: ?>
                                        <?php echo $this->filtersName[$index] ?>
                                    <?php endif; ?>
                                </a>
                            </td>
                            <td style = "text-align: center">
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/clean-filters/<?php echo $filter ?>" >
                                    X
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>

                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="background-color: #045d85; color: #fff; text-align: center;">SELECIONAR TIPO DO CURSO</td>
                    </tr>
                    <?php foreach ($this->tipos_cursos as $tipo_curso) : ?>
                        <tr>
                            <td>
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/<?php echo $tipo_curso->url ?>">
                                    <?php echo $tipo_curso->nome ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>

                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="background-color: #045d85; color: #fff; text-align: center;">SELECIONAR ÁREA DO CURSO</td>
                    </tr>
                    <?php foreach ($this->areas_cursos as $area_curso) : ?>
                        <tr>
                            <td>
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/area/<?php echo $area_curso->url ?>">
                                    <?php echo $area_curso->nome?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>

                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="background-color: #045d85; color: #fff; text-align: center;">SELECIONAR CARGA HORÁRIA DO CURSO</td>
                    </tr>
                    <?php foreach ($this->carga_horaria_cursos as $name => $carga_horaria) : ?>
                        <tr>
                            <td>
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/carga-horaria/<?php echo $carga_horaria->carga_horaria ?>">
                                    <?php echo $carga_horaria->carga_horaria . " horas" ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>

            <div class="grid_9">
                <h3><?php echo $this->page_titulo ?></h3>
                <br/>
                <table class="table table-bordered">
                    <?php foreach ($this->items as $curso) : ?>
                        <tr>
                            <td>
                                <i class="fa fa-graduation-cap" style="margin-top: 5px;"></i>
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/<?php echo $curso->url ?>">
                                    <strong><?php echo $curso->nome ?></strong>
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle; width: 100px; ">
                                <a href="<?php echo $this->baseUrl(); ?>/catalogo/<?php echo $curso->url ?>">
                                    <i class="fa fa-plus" style="margin-top: 5px;"></i>
                                    DETALHES
                                </a>
                            </td>
                        </tr>

                    <?php endforeach; ?>
                </table>
            </div>

        </div>
    </div>
</div>
