<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title><?php echo PageUtil::getTitle(); ?></title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/smartadmin-skins.min.css">

        <!-- SmartAdmin RTL Support is under construction
                 This RTL CSS will be released in version 1.5
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/smartadmin-rtl.min.css"> -->

        <!-- We recommend you use "your_style.css" to override SmartAdmin
             specific styles this will also ensure you retrain your customization with each SmartAdmin update.
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/your_style.css"> -->

        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl(); ?>/content/smart/css/demo.min.css">

        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/favicon/favicon-sbrasil.ico" type="image/x-icon">
        <link rel="icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/favicon/favicon-sbrasil.ico" type="image/x-icon">

        <!-- #GOOGLE FONT -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip
                 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="<?php echo $this->baseUrl(); ?>/content/smart/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    </head>

    <!--

    TABLE OF CONTENTS.

    Use search to find needed section.

    ===================================================================

    |  01. #CSS Links                |  all CSS links and file paths  |
    |  02. #FAVICONS                 |  Favicon links and file paths  |
    |  03. #GOOGLE FONT              |  Google font link              |
    |  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
    |  05. #BODY                     |  body tag                      |
    |  06. #HEADER                   |  header tag                    |
    |  07. #PROJECTS                 |  project lists                 |
    |  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
    |  09. #MOBILE                   |  mobile view dropdown          |
    |  10. #SEARCH                   |  search field                  |
    |  11. #NAVIGATION               |  left panel & navigation       |
    |  12. #MAIN PANEL               |  main panel                    |
    |  13. #MAIN CONTENT             |  content holder                |
    |  14. #PAGE FOOTER              |  page footer                   |
    |  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
    |  16. #PLUGINS                  |  all scripts and plugins       |

    ===================================================================

    -->

    <!-- #BODY -->
    <!-- Possible Classes

            * 'smart-skin-{SKIN#}'
            * 'smart-rtl'         - Switch theme mode to RTL (will be avilable from version SmartAdmin 1.5)
            * 'menu-on-top'       - Switch to top navigation (no DOM change required)
            * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
            * 'fixed-header'      - Fixes the header
            * 'fixed-navigation'  - Fixes the main menu
            * 'fixed-ribbon'      - Fixes breadcrumb
            * 'fixed-footer'      - Fixes footer
            * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
    -->
    <body class="">

        <!-- #HEADER -->

        <?php include_once APPLICATION_PATH . '/include/administrador/Header.php'; ?>
        <!-- END HEADER -->

        <!-- #NAVIGATION -->

            <?php include_once APPLICATION_PATH . '/include/administrador/Navigation_SistemaAdmin.php'; ?>
        <!-- END NAVIGATION -->

        <!-- #MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <?php include_once APPLICATION_PATH . '/include/administrador/Ribbon.php'; ?>
            <!-- END RIBBON -->

            <!-- #MAIN CONTENT -->
            <div id="content">

            </div>

            <!-- MODAL PLACE HOLDER -->
            <div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div id="modal-form" class="modal-content"></div>
                </div>
            </div>
            <!-- END MODAL -->

            <!-- END #MAIN CONTENT -->

        </div>
        <!-- END #MAIN PANEL -->

        <!-- #PAGE FOOTER -->
        <?php include_once APPLICATION_PATH . '/include/administrador/Footer.php'; ?>
        <!-- END FOOTER -->

        <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
                 Note: These tiles are completely responsive, you can add as many as you like -->
        <?php include_once APPLICATION_PATH . '/include/administrador/Shortcut.php'; ?>
        <!-- END SHORTCUT AREA -->

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/pace/pace.min.js"></script>-->


        <!-- #PLUGINS -->
        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="<?php echo $this->baseUrl(); ?>/content/smart/js/libs/jquery-2.0.2.min.js"><\/script>');
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="<?php echo $this->baseUrl(); ?>/content/smart/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>

        <!-- IMPORTANT: APP CONFIG -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/app.config.js"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices: you can disable this in app.js -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/fastclick/fastclick.min.js"></script>

        <!--[if IE 8]>
                <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->

        <!-- Demo purpose only -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/demo.min.js"></script>

        <!-- MAIN APP JS FILE -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/app.min.js"></script>

        <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
        <!-- Voice command : plugin -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/speech/voicecommand.min.js"></script>

        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/ckeditor/ckeditor.js"></script>

        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-check-all/jquery-check-all.js"></script>

        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-upload/jquery-fileupload.js"></script>

        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-mask/jquery.maskedinput-1.3.js"></script>

        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/jquery-mask/jquery.maskMoney.js"></script>

        <!-- DATATABLES -->
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/datatables/jquery.dataTables.min.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/content/smart/js/plugin/datatables/dataTables.bootstrap.min.js"></script>


        <?php if (SessionUtil::getAccessToken()) : ?>
            <script type="text/javascript">
                $(function () {
                    localStorage.setItem("@siead:accessToken", "<?php echo SessionUtil::getAccessToken() ?>");
                });
            </script>
        <?php endif; ?>

        <style>
            /* Absolute Center Spinner */
            #loader {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 9999;
                background: rgba(0, 0, 0, 0.7);
                transition: opacity 0.2s;
            }

            #loader div {
                position: fixed;
                top: 50%; left: 50%;
                transform: translate(-50%);
            }

        </style>
        <div id="loader" style="display: none">
            <div>
                <i class="fa fa-spinner fa-spin fa-4x txt-color-white"></i>
            </div>
        </div>

    </body>

</html>
