<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><?php echo PageUtil::getTitle(); ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="<?php echo $this->baseUrl(); ?>/content/administrador/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/content/administrador/stylesheets/pixel-admin.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/content/administrador/stylesheets/pages.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/content/administrador/stylesheets/rtl.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/content/administrador/stylesheets/themes.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
                <script src="<?php echo $this->baseUrl(); ?>/content/administrador/javascripts/ie.js"></script>
        <![endif]-->


        <!-- $DEMO =========================================================================================

                Remove this section on production
        -->
        <style>
            #signin-demo {
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 10000;
                background: rgba(0,0,0,.6);
                padding: 6px;
                border-radius: 3px;
            }
            #signin-demo img { cursor: pointer; height: 40px; }
            #signin-demo img:hover { opacity: .5; }
            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
        </style>
        <!-- / $DEMO -->

    </head>


    <!-- 1. $BODY ======================================================================================

            Body

            Classes:
            * 'theme-{THEME NAME}'
            * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signin">

        <?php echo $this->layout()->content; ?>

    </body>
</html>
